# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDE configuration
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Log files
*.log

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore custom config files
*.json  # If you have config files you don't want to track
